@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Email"] = "sabugo@gmail.com";
}
<h1>@ViewData["Title"]</h1>
<h1>@ViewData["Email"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
